  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .deleteButton {
    background: #8E2735;
    color: #FAF189;
    padding: 10px 30px;
    border: 1px solid #8e2735;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .deleteButton:hover {
    background-color: #FAF189;
    color: #8E2735;
  }